/* Write your CSS here */
.destination-detail-container {
  display: flex;
  flex: 0 1 0;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

img {
  height: 200px;
  width: 100%;
  margin: 20px;
  padding: 10px;
}

li {
  list-style-type: none;
}

.bg-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
